name: Test toolchain action
on:
  workflow_dispatch:
  push:
    branches:
      - "*"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run toolchain action
        uses: "./"

      - name: Show PATH and test running bootstrap.sh again
        shell: bash
        run: |
          source ./bootstrap.sh
          echo "PATH=$PATH"
          
          "$TOOLCHAIN_CROSS-gcc" -v
